{% extends "base.html" %}

{% block title %}Agendamento de Pacientes{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Consultas</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">

    <!-- FullCalendar Locale -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/lang/pt-br.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styleagenda.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
</head>
<body>

<div class="container">
    <div class="row">
        <!-- Coluna 1: Filtros e Calendário -->
        <div class="col-md-4 filtro">
            <h2>Filtrar Agendamento</h2>
          
    
            <label for="especialidade">Especialidade:</label>
            <select id="especialidade" name="especialidade" class="form-control" required>
                <option value="" disabled selected>Selecione a especialidade</option>
                    {% for especialidade in especialidades %}
                        <option value="{{ especialidade.codespecialidade }}">{{ especialidade.descricao }}</option>
                    {% endfor %}
            </select>
            
            <label for="medico" class="mt-3">Médico:</label>
            <select id="medico" name="medico" class="form-control" required>
                <option value="" disabled selected>Selecione um médico</option>
            </select>
            
        
              
            </select>
            <br>
            <button type="button" id="btnPesquisarescala" class="btn btn-primary">Pesquisar</button>  
            <div id="calendar" class="mt-4" style="display: none;"></div>
           
        </div>
       
            <!-- Coluna 2: Exibição de Horários -->
            <div class="col-md-4 horarios">
                <h2>Horários Disponíveis</h2>
                <div>

                    <input type="text" id="dataselecionada" class="form-control text-center"disabled>
                </div>
             
                <div class="btn-group mb-3" role="group" aria-label="Horários">
                   
                    <div>
                        <button type="button" id ="btnManha" class="btn btn-primary col">Manhã</button>
                        <input type="text" id="vagasManha" class="form-control text-center"disabled>
                    </div>
                    <div>
                        <button type="button" id="btnTarde" class="btn btn-primary col">Tarde</button>
                        <input type="text" id="vagasTarde" class="form-control text-center"disabled>
                    </div>
                    <div>
                        <button type="button" id="btnNoite" class="btn btn-primary col">Noite</button>
                        <input type="text" id="vagasNoite" class="form-control text-center" disabled>
                    </div>
                </div>
            
            
                <div id="horarios" class="mt-3">
                    <input type="text" id="turnoselecionado" class="form-control text-center" disabled>
                    <!-- Os horários serão preenchidos aqui -->
                    <ul class="list-group" id="listaHorarios">
                        <!-- Os horários serão preenchidos aqui -->
                    </ul>
                </div>
            </div>

        <!-- Coluna 3: Dados do Paciente -->
        <div class="col-md-4 paciente">
        <h3>Cadastro de Pacientes</h3>
        <form id="cadastroPaciente">
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Digite o CPF" maxlength="14" oninput="formatarCPF(this)" required>
            </div>
            <button type="button" id="btnPesquisarpaciente" class="btn btn-primary">Pesquisar</button>
            <!-- Outros campos desativados -->
            <div class="form-group">
                <label for="nome">Código do paciente:</label>
                <input type="text" id="idpaciente" name="idpaciente" class="form-control" disabled>
            </div>
            
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" disabled>
            </div>
            
            <div class="form-group">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input type="date" id="data_nascimento" name="data_nascimento" class="form-control"  disabled>

            </div>

            <div class="form-group">
                <label for="telefone">Telefone 1:</label>
                <input type="text" id="telefone1" name="telefone" class="form-control" placeholder="Telefone" disabled>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone 2:</label>
                <input type="text" id="telefone2" name="telefone" class="form-control" placeholder="Telefone" disabled>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone 3:</label>
                <input type="text" id="telefone3" name="telefone" class="form-control" placeholder="Telefone" disabled>
            </div>
            
        </form>
        </div>
    </div>
</div>

    <!-- Modal -->
<div id="modal-myModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" id="modal-closeModal">&times;</span>
            <!-- Tabs -->
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'FormularioMedico')" id="defaultOpen">Formulário Médico</button>
                <button class="tablinks" onclick="openTab(event, 'AnalisarExame')">Analisar Exame</button>
            </div>
            <div id="FormularioMedico" class="tabcontent">
                <div class="modal-form-section">
                    <h3 class="modal-h3">Dados do Paciente</h3>
                    
                    <div class="modal-input-group">
                        <label class="modal-label" for="modal-nome">Nome do Paciente:</label>
                        <input type="text" class="modal-input" id="modal_nome" disabled value="Nome do Paciente">
                    </div>
                    
                    <div class="modal-input-group">
                        <label class="modal-label" for="modal-data-nascimento">Data de Nascimento:</label>
                        <input type="text" class="modal-input" id="modal_data_nascimento" disabled value="01/01/2000">
                    </div>
                    
                    <div class="modal-input-group">
                        <label class="modal-label" for="modal-id-paciente">ID do Paciente:</label>
                        <input type="text" class="modal-input" id="modal_id_paciente" disabled >
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="modal-id-paciente">Código do Agendamento:</label>
                        <input type="text" class="modal-input" id="modal_codigo_agendamento" disabled >
                    </div>
                </div>
            
                <!-- Formulário Médico -->
                <h2 class="modal-h2">Formulário Médico</h2>
                <div class="modal-container">
                    <!-- Form Section -->
                    <div class="modal-form-section">
                        <h3 class="modal-h3">Anamnese</h3>
                        <div class="modal-input-group">
                            <label class="modal-label" for="modal_anamnese">Descreva aqui:</label>
                            <textarea class="modal-textarea" id="modal_anamnese" rows="5"></textarea>
                            <button id="modal_activate_senia" class="btn" type="button">
                                <i class="fas fa-microphone"></i> Capturar por Voz
                            </button>

                            <div id="microphone-status">
                                <span id="status-text">Aguardando captura de voz...</span>
                                <i id="status-icon" class="fas fa-microphone-alt"></i>
                            </div>
                        </div>

                        <h3 class="modal-h3">Conclusão Diagnóstica</h3>
                        <div class="modal-input-group">
                            <label class="modal-label" for="modal_conclusao">Descreva aqui:</label>
                            <textarea class="modal-textarea" id="modal_conclusao" rows="5"></textarea>
                        </div>

                        <div class="modal-input-group">
                            <label class="modal-label" for="modal_cid">CID</label>
                            <input type="text" class="modal-input" id="modal_cid" placeholder="Pesquise pelo CID...">
                        </div>
                    </div>

                    <!-- Right Panel -->
                    <div class="modal-right-panel">
                        <h3 class="modal-h3">Lista de problemas</h3>
                        <textarea class="modal-textarea" id="modal_problemas" rows="5"></textarea>

                        <h3 class="modal-h3">Documentos</h3>
                        <div class="modal-button-group">
                            <button>+ Novo</button>
                            <button>Modelo</button>
                            <button>Imprimir</button>
                        </div>
                    </div>
                </div>

                <!-- Botão Gravar Formulário -->
                <div class="modal-gravar-button">
                    <button type="submit" id="gravar_prontuario">Gravar Formulário</button>
                </div>
            </div>

            <!-- Conteúdo da Aba: Ler Resultado de Exame -->
        <div id="AnalisarExame" class="tabcontent">

            <h3>Analisar Exame</h3>
            <div class="modal-form-section">
                <label for="condition">Escolha uma condição:</label>
                <select id="condition" onchange="toggleFields()">
                    <option value="">--Selecione--</option>
                    <option value="cancer">Câncer</option>
                    <option value="infarto">Infarto</option>
                </select>
                <div id="cancer-fields" class="hidden">
                    <div class="modal-input-group">
                        <label class="modal-label" for="radius_mean">Radius Mean:</label>
                        <input type="number" class="modal-input" id="radius_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="texture_mean">Texture Mean:</label>
                        <input type="number" class="modal-input" id="texture_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="perimeter_mean">Perimeter Mean:</label>
                        <input type="number" class="modal-input" id="perimeter_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="area_mean">Area Mean:</label>
                        <input type="number" class="modal-input" id="area_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="smoothness_mean">Smoothness Mean:</label>
                        <input type="number" class="modal-input" id="smoothness_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="compactness_mean">Compactness Mean:</label>
                        <input type="number" class="modal-input" id="compactness_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concavity_mean">Concavity Mean:</label>
                        <input type="number" class="modal-input" id="concavity_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concave_points_mean">Concave Points Mean:</label>
                        <input type="number" class="modal-input" id="concave_points_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="symmetry_mean">Symmetry Mean:</label>
                        <input type="number" class="modal-input" id="symmetry_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="fractal_dimension_mean">Fractal Dimension Mean:</label>
                        <input type="number" class="modal-input" id="fractal_dimension_mean" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="radius_se">Radius SE:</label>
                        <input type="number" class="modal-input" id="radius_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="texture_se">Texture SE:</label>
                        <input type="number" class="modal-input" id="texture_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="perimeter_se">Perimeter SE:</label>
                        <input type="number" class="modal-input" id="perimeter_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="area_se">Area SE:</label>
                        <input type="number" class="modal-input" id="area_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="smoothness_se">Smoothness SE:</label>
                        <input type="number" class="modal-input" id="smoothness_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="compactness_se">Compactness SE:</label>
                        <input type="number" class="modal-input" id="compactness_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concavity_se">Concavity SE:</label>
                        <input type="number" class="modal-input" id="concavity_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concave_points_se">Concave Points SE:</label>
                        <input type="number" class="modal-input" id="concave_points_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="symmetry_se">Symmetry SE:</label>
                        <input type="number" class="modal-input" id="symmetry_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="fractal_dimension_se">Fractal Dimension SE:</label>
                        <input type="number" class="modal-input" id="fractal_dimension_se" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="radius_worst">Radius Worst:</label>
                        <input type="number" class="modal-input" id="radius_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="texture_worst">Texture Worst:</label>
                        <input type="number" class="modal-input" id="texture_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="perimeter_worst">Perimeter Worst:</label>
                        <input type="number" class="modal-input" id="perimeter_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="area_worst">Area Worst:</label>
                        <input type="number" class="modal-input" id="area_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="smoothness_worst">Smoothness Worst:</label>
                        <input type="number" class="modal-input" id="smoothness_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="compactness_worst">Compactness Worst:</label>
                        <input type="number" class="modal-input" id="compactness_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concavity_worst">Concavity Worst:</label>
                        <input type="number" class="modal-input" id="concavity_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="concave_points_worst">Concave Points Worst:</label>
                        <input type="number" class="modal-input" id="concave_points_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="symmetry_worst">Symmetry Worst:</label>
                        <input type="number" class="modal-input" id="symmetry_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="fractal_dimension_worst">Fractal Dimension Worst:</label>
                        <input type="number" class="modal-input" id="fractal_dimension_worst" value="0.000000" step="0.000001" min="-100">
                    </div>
                </div>
                <div id="infarto-fields" class="hidden">
                    <h3>Campos para Infarto</h3>
                    <div class="modal-input-group">
                        <label class="modal-label" for="age">Idade:</label>
                        <input type="number" class="modal-input" id="age">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="sex">Sexo:</label>
                        <select id="sex">
                            <option value="1">Masculino</option>
                            <option value="0">Feminino</option>
                        </select>
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="cp">Tipo de dor no peito:</label>
                        <input type="number" class="modal-input" id="cp">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="trtbps">Pressão arterial em repouso:</label>
                        <input type="number" class="modal-input" id="trtbps">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="chol">Colesterol:</label>
                        <input type="number" class="modal-input" id="chol">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="fbs">Glicose em jejum:</label>
                        <input type="number" class="modal-input" id="fbs">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="restecg">ECG em repouso:</label>
                        <input type="number" class="modal-input" id="restecg">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="thalachh">Máxima frequência cardíaca:</label>
                        <input type="number" class="modal-input" id="thalachh">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="exng">Exercício de indução:</label>
                        <input type="number" class="modal-input" id="exng">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="oldpeak">Depressão ST:</label>
                        <input type="number" class="modal-input" id="oldpeak">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="slp">Inclinação do segmento ST:</label>
                        <input type="number" class="modal-input" id="slp">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="caa">Número de vasos principais:</label>
                        <input type="number" class="modal-input" id="caa">
                    </div>
                    <div class="modal-input-group">
                        <label class="modal-label" for="thall">Tipo de talassemia:</label>
                        <input type="number" class="modal-input" id="thall">
                    </div>
                    <!-- Adicione outros campos relacionados ao infarto aqui -->
                </div>
          
                <div class="modal-gravar-button">
                    <button type="submit" id="analisar_exame">Analisar Exame</button>
                </div>

                <!-- Espaço para exibir a previsão e a confiança -->
                <div id="resultado" style="margin-top: 20px; display: none;">
                    <p id="previsao"></p>
                    <p id="confianca"></p>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- FullCalendar JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/lang/pt-br.js"></script>

<!-- Custom Script -->
<script>
 document.getElementById('especialidade').addEventListener('change', function() {
    var codespecialidade = this.value;

    if (codespecialidade) {
        // Fazendo a requisição para o backend passando o codespecialidade
        fetch(`/pesquisar_medico_especialidade/${codespecialidade}`)
            .then(response => response.json()) // Converte a resposta para JSON
            .then(data => {
                if (data) {
                   
                        var medicoSelect = document.getElementById('medico');
                        
                        // Limpa as opções anteriores
                        medicoSelect.innerHTML = '<option value="" disabled selected>Selecione um médico</option>';
                        
                        // Itera sobre os médicos retornados e preenche o dropdown
                        data.medicos.forEach(medico => {
                            var option = document.createElement('option');
                            option.value = medico.codmedico;  // código do médico
                            option.text = medico.nome;  // nome do médico
                            medicoSelect.add(option);
                        });
                    
                }
            })
            .catch(error => console.error('Erro ao buscar médicos:', error));
    }
});

 // Captura o clique no botão de pesquisa
 document.getElementById('btnPesquisarescala').addEventListener('click', function() {
        // Pega o médico selecionado
        var codmedico = document.getElementById('medico').value;

        // Verifica se um médico foi selecionado
        if (!codmedico) {
            alert("Selecione um médico");
            return;
        }

        fetch(`/buscar_escalas/${codmedico}`)
            .then(response => response.json())
            .then(data => {
                // Limpa a lista de datas de escalas antes de adicionar novas
                datasEscalas = []; 
              
                data.datas.forEach(escala => {
                    // Adiciona a data da escala à lista
                    test= new Date(escala.split(',')[1].trim())
                    datasEscalas.push(test.toISOString().split('T')[0]);
                    
               
                 
                    $('#calendar').fullCalendar('renderEvent', {
                        
                        title: 'Disponível',
                        start: escala.data, // Formatar a data corretamente
                        allDay: true,
                        backgroundColor: '#ff0000',
                        borderColor: '#28a745',
                        color: '#28a745' // Força a cor do texto e do fundo
                    }, true);
                 
                    abriraescala()
                    
                     // Atualiza o calendário
                  
                    $('#calendar').show(); 
                   
                });
             
                // Atualiza o calendário para aplicar as novas cores
                $('#calendar').fullCalendar('rerenderEvents');
                document.querySelector('.fc-next-button').click();
                document.querySelector('.fc-prev-button').click();
            })
            .catch(error => console.error('Erro ao buscar escalas:', error));
        });

document.getElementById('btnPesquisarpaciente').addEventListener('click', function(){
    var cpf = document.getElementById('cpf').value.replace(/\D/g, '');;
    fetch(`/pesquisar_paciente/${cpf}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    if(data.flgencontrou){               
                        
                            document.getElementById('nome').value = data.nome;
                            document.getElementById('idpaciente').value = data.idpaciente;
                            document.getElementById('data_nascimento').value = data.data_nas;
                            document.getElementById('telefone1').value = data.telefone_01;
                            document.getElementById('telefone2').value = data.telefone_02;
                            document.getElementById('telefone3').value = data.telefone_0;
                                   

                    }else{
                        alert('Paciente não localizado pelo CPF informado!')
                    }
                }
            })
            .catch(error => console.error('Erro ao buscar escalas:', error));

});



function atualizaHorarios(hora,vagas,agendados){
    // Obtendo o elemento onde os horários serão adicionados
    let listaHorarios = document.getElementById('listaHorarios');
    
    // Limpando a lista antes de adicionar novos horários
    listaHorarios.innerHTML = '';
  
   
    // Adicionando os horários para a manhã
    for (let i = 0; i < vagas; i++) {
     
        let horaFormatada = formatarHora(hora); // Formata a hora no formato HH:MM
        let itemLista = document.createElement('li');
        itemLista.classList.add('list-group-item');

        agendados = Array.isArray(agendados) ? agendados : [];
        let pacienteAgendado = agendados.find(ag => ag.horaagendamento === horaFormatada);


            if (pacienteAgendado) {
                // Cria o item da lista com o nome do paciente e a hora agendada
                itemLista.textContent = `${horaFormatada} --- ${pacienteAgendado.nome}`;
                itemLista.style.backgroundColor = '#f8d7da';
            
                // Criação de um contêiner para os botões
                const botoesContainer = document.createElement('div');
                botoesContainer.style.marginTop = '10px'; // Espaço entre o nome e os botões
                botoesContainer.style.display = 'flex';
                botoesContainer.style.gap = '10px'; // Espaço entre os botões

                // Criação do botão 'Detalhar'
                const btnDetalhar = document.createElement('button');
                btnDetalhar.textContent = 'Detalhar';
                btnDetalhar.style.backgroundColor = '#007bff';
                btnDetalhar.style.color = 'white';
                btnDetalhar.style.border = 'none';
                btnDetalhar.style.padding = '5px 10px';
                btnDetalhar.style.borderRadius = '4px';
                btnDetalhar.style.cursor = 'pointer';

                // Função ao clicar no botão 'Detalhar'
                btnDetalhar.addEventListener('click', function() {
                    alert(`Detalhes do paciente: ${pacienteAgendado.nome}`);
                    // Aqui você pode adicionar lógica para abrir uma página de detalhes ou mostrar mais informações
                });

                // Criação do botão 'Iniciar Atendimento'
                const btnIniciarAtendimento = document.createElement('button');
                //btnIniciarAtendimento.textContent = 'Iniciar Atendimento';
                //btnIniciarAtendimento.style.backgroundColor = '#28a745';

                if (pacienteAgendado.numprontuario === null) {
                    btnIniciarAtendimento.textContent = 'Iniciar Atendimento';
                    btnIniciarAtendimento.style.backgroundColor = '#28a745';  // Cor para 'Verificar Prontuário' (ex: vermelho)
                } else {
                    btnIniciarAtendimento.textContent = 'Verificar Prontuário';
                    btnIniciarAtendimento.style.backgroundColor = '#dc3545';  // Cor para 'Iniciar Atendimento' (ex: verde)
                }


                btnIniciarAtendimento.style.color = 'white';
                btnIniciarAtendimento.style.border = 'none';
                btnIniciarAtendimento.style.padding = '5px 10px';
                btnIniciarAtendimento.style.borderRadius = '4px';
                btnIniciarAtendimento.style.cursor = 'pointer';
                btnIniciarAtendimento.id = 'iniciar_atendimento';


                // Obter o modal
                var modal = document.getElementById("modal-myModal");

                // Obter o botão que abre o modal
                var btn = document.getElementById("iniciar_atendimento");

                // Obter o elemento <span> que fecha o modal
                var span = document.getElementById("modal-closeModal");

            

                // Função ao clicar no botão 'Iniciar Atendimento'
                btnIniciarAtendimento.addEventListener('click', function() {
                    
                    if (pacienteAgendado.numprontuario === null) {
                        document.getElementById("modal_nome").value=pacienteAgendado.nome;
                        document.getElementById("modal_id_paciente").value=pacienteAgendado.id;
                        document.getElementById("modal_data_nascimento").value=pacienteAgendado.data_nascimento;
                        document.getElementById("modal_codigo_agendamento").value=pacienteAgendado.codigo;
                    } else {
                        document.getElementById("modal_nome").value=pacienteAgendado.nome;
                        document.getElementById("modal_id_paciente").value=pacienteAgendado.id;
                        document.getElementById("modal_data_nascimento").value=pacienteAgendado.data_nascimento;
                        document.getElementById("modal_codigo_agendamento").value=pacienteAgendado.codigo;
                        fetch(`/pesquisar_prontuario_paciente_agenda/${pacienteAgendado.numprontuario}`)
                                .then(response => response.json())
                                .then(data => {
                                    if (data) {
                                        document.getElementById('modal_cid').value=data.cid;

                                        document.getElementById('modal_anamnese').value=data.anamnese;

                                        problemas= document.getElementById('modal_problemas').value=data.lista_de_problemas;
                                        conclusao= document.getElementById('modal_conclusao').value=data.conclusao_diagnostica;
                                   
                                }
                        }) 
                    }



                  
                 
                    // Aqui você pode adicionar a lógica para iniciar o atendimento do paciente
                    
                    $('#calendar').hide();
                    modal.style.display = "block";
                });

                // Quando o <span> é clicado, fecha o modal
                span.onclick = function() {
                    modal.style.display = "none";
                    $('#calendar').show();
                   
                }

                // Quando o usuário clica fora do modal, fecha-o
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                        $('#calendar').show();
                    }
                }

                // Adiciona os botões ao contêiner
                botoesContainer.appendChild(btnDetalhar);
                botoesContainer.appendChild(btnIniciarAtendimento);

                // Adiciona o contêiner de botões ao item da lista
                itemLista.appendChild(document.createElement('br')); // Quebra de linha para os botões ficarem abaixo
                itemLista.appendChild(botoesContainer);
            }else {
            
            itemLista.textContent = `${horaFormatada} --- Livre`;
        }
        listaHorarios.appendChild(itemLista);

        // Evento de duplo clique para marcar o horário como "Ocupado"
        itemLista.addEventListener('dblclick', function() {
            let nome=document.getElementById('nome').value;
            let idpaciente= document.getElementById('idpaciente').value; 
            if (idpaciente!=""){
               
                
                
                var codmedico = document.getElementById('medico').value;
                var horaagendamento= itemLista.textContent.split(' --- ')[0]
                var dataselecionada=  document.getElementById('dataselecionada').value;
                var turno=document.getElementById('turnoselecionado').value.toLowerCase();
          
                if (itemLista.textContent.includes('Livre')) {
                    
                    
                    fetch(`/agendar_paciente/${idpaciente}/${codmedico}/${dataselecionada}/${horaagendamento}/${turno}`, {
                        method: 'POST',
                    })
                    .then(response => response.json())
                    .then(response => {
                        if (response.flgagendamento){
                            alert('agendamento realizadao com sucesso!')
                            //itemLista.textContent = `${horaFormatada} --- ${nome}`;
                            //itemLista.style.backgroundColor = '#f8d7da';
                            let turno=document.getElementById('turnoselecionado').value
                            atualizando_lista(turno)
                        }else{
                            alert('Não foi possível realizar o agendamento! Tente novamente')
                        }
                    })

                   
                }else{
                    alert('Esse horário não esta livre!')
                }
            
            }else{
                alert('Selecione primeiro o paciente!')
            }
            
        });

        hora.setMinutes(hora.getMinutes() + 30);
    }
}



// Função para formatar a hora em HH:MM
function formatarHora(data) {
    let horas = data.getHours().toString().padStart(2, '0');
    let minutos = data.getMinutes().toString().padStart(2, '0');
    return `${horas}:${minutos}`;
}

document.getElementById('btnManha').addEventListener('click', function() {
 
 let vagas = document.getElementById('vagasManha').value; 


 let horainicial = new Date();
 horainicial.setHours(7, 0, 0); 
 document.getElementById('turnoselecionado').value="Manhã"

 var codmedico = document.getElementById('medico').value;
         
 var dataselecionada=  document.getElementById('dataselecionada').value;
 var turno=document.getElementById('turnoselecionado').value.toLowerCase();

 fetch(`/pesquisar_pacientes_agendados/${codmedico}/${dataselecionada}/${turno}`)
         .then(response => response.json())
         .then(data => {
             if (data) {
                
             atualizaHorarios(horainicial, vagas, data.agendados);
         }
 })   

 //atualizaHorarios(horainicial,vagas)
});

document.getElementById('btnTarde').addEventListener('click',function(){
    let vagas = document.getElementById('vagasTarde').value; 


    let horainicial = new Date();
    horainicial.setHours(13, 0, 0); 
    document.getElementById('turnoselecionado').value="Tarde"

    var codmedico = document.getElementById('medico').value;
            
    var dataselecionada=  document.getElementById('dataselecionada').value;
    var turno=document.getElementById('turnoselecionado').value.toLowerCase();

    fetch(`/pesquisar_pacientes_agendados/${codmedico}/${dataselecionada}/${turno}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    
                atualizaHorarios(horainicial, vagas, data.agendados);
            }
    })   


});

document.getElementById('btnNoite').addEventListener('click',function(){
    let vagas = document.getElementById('vagasNoite').value; 


    let horainicial = new Date();
    horainicial.setHours(18, 0, 0); 
    document.getElementById('turnoselecionado').value="Noite"

    var codmedico = document.getElementById('medico').value;
            
    var dataselecionada=  document.getElementById('dataselecionada').value;
    var turno=document.getElementById('turnoselecionado').value.toLowerCase();

    fetch(`/pesquisar_pacientes_agendados/${codmedico}/${dataselecionada}/${turno}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                
                atualizaHorarios(horainicial, vagas, data.agendados);
            }
    })   


});
function abriraescala() {
     
        $('#calendar').fullCalendar({
            locale: 'pt-br',
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month today'
            },
            buttonText: {
                month: 'Mês',
                today: 'Hoje'
            },
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            selectable: true,
      
            dayClick: function(date, jsEvent, view) {
                var codmedico = document.getElementById('medico').value;
                buscarVagasPorData(date.format('YYYY-MM-DD'), codmedico);
                
            },
            dayRender: function(date, cell) {
             
              
               for (let i = 0; i < datasEscalas.length; i++) {
                    cell[0].offsetHeight;
                    if (date.format('YYYY-MM-DD') == datasEscalas[i]) {
                        cell.css("background-color", "green"); // Aplica a cor desejada
                        cell[0].offsetHeight;
                        break
                    }
                 }
                    
                        
             }
        });
        
        function buscarVagasPorData(dataselecionada, codmedico) {
            // Faz a requisição para a rota que busca as vagas por data e médico
            fetch(`/buscar_vagas_por_data/${dataselecionada}/${codmedico}`)
                .then(response => response.json())
                .then(data => {
                    if (!data.message) {
                        document.getElementById('dataselecionada').value = dataselecionada
                        document.getElementById('vagasManha').value = data.vagasManha || '0'; 
                        document.getElementById('vagasTarde').value = data.vagasTarde || '0'; 
                        document.getElementById('vagasNoite').value = data.vagasNoite || '0'; 
                    } else {

                       
                        alert('Não foi cadastrado nenhuma escala para esse médicono dia selecionado.')
               
                        document.getElementById('dataselecionada').value = dataselecionada
                        document.getElementById('vagasManha').value = '0'; 
                        document.getElementById('vagasTarde').value = '0'; 
                        document.getElementById('vagasNoite').value = '0'; 
                    }
                })  
                .catch(error => {
                    console.error('Erro ao buscar vagas:', error);
                    alert('Ocorreu um erro ao buscar as vagas.');
                });
        }
        
    };

    function formatarCPF(cpfField) {
        // Remove caracteres não numéricos
        let cpf = cpfField.value.replace(/\D/g, '');

        // Adiciona a formatação
        if (cpf.length <= 11) {
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        }

        cpfField.value = cpf; // Atualiza o campo com o CPF formatado
    };

    document.getElementById('gravar_prontuario').onclick = function() {
   
        var cid= document.getElementById('modal_cid').value;
        var codmedico= document.getElementById('medico').value;
    
        var anamnese=document.getElementById('modal_anamnese').value;
    
        
    
        var problemas= document.getElementById('modal_problemas').value;
        var conclusao= document.getElementById('modal_conclusao').value;
        var dataAgenda= document.getElementById('dataselecionada').value;
        
        var idpaciente= document.getElementById('modal_id_paciente').value ;
    
        var codagendamento=document.getElementById('modal_codigo_agendamento').value ;
        var data = {
            idpaciente: idpaciente,
            codmedico: codmedico,
            cid: cid,
            anamnese: anamnese,
            problemas: problemas,
            conclusao: conclusao,
            dataAgenda: dataAgenda,
            codagendamento:codagendamento
        };

        fetch('/gravar_prontuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)  // Convertendo o objeto em uma string JSON
            })
            .then(response => response.json())
            .then(response => {
                if (response.flggravar) {
                    alert("Prontuario gravado com sucesso!")
                    let turno=document.getElementById('turnoselecionado').value
                   
                    atualizando_lista(turno)
                    limparModal()


                    modal.style.display = "none";
                    $('#calendar').show();
                    //alert(document.getElementById('turnoselecionado').value)
                  
                            }
            })
            .catch(error => console.error('Erro:', error));
            };
    function limparModal() {
        // Seleciona o modal
        var modal = document.getElementById('modal-myModal');
        
        // Limpa todos os inputs do tipo texto
        var inputs = modal.querySelectorAll('input[type="text"]');
        inputs.forEach(function(input) {
            input.value = '';  // Define o valor do input como vazio
        });
        
        // Limpa todos os textareas
        var textareas = modal.querySelectorAll('textarea');
        textareas.forEach(function(textarea) {
            textarea.value = '';  // Define o valor do textarea como vazio
        });
    }

    function atualizando_lista(turno){
        switch (turno) {
            case 'Manhã':
                
                document.getElementById('btnManha').click();
                break;
            case 'Tarde':
               
                document.getElementById('btnTarde').click();
                break;
            case 'Noite':
               
                document.getElementById('btnNoite').click();
                break;
            default:
            
                console.log('Valor não reconhecido');
        }
    }
    let recognition;
    let isRecording = false; // Variável para rastrear o estado de gravação

    document.getElementById('modal_activate_senia').addEventListener('click', () => {
        if (!('webkitSpeechRecognition' in window)) {
            alert('Seu navegador não suporta reconhecimento de voz. Tente o Google Chrome.');
            return;
        }

        if (!recognition) {
            recognition = new webkitSpeechRecognition();
            recognition.lang = 'pt-BR';
            recognition.continuous = true;
            recognition.interimResults = false;

            recognition.onstart = () => {
                document.getElementById('microphone-status').style.display = 'block';
                document.getElementById('status-text').innerText = 'Gravando...';
                document.getElementById('status-icon').className = 'fas fa-microphone';
            };

            recognition.onresult = (event) => {
                const transcript = event.results[event.results.length - 1][0].transcript;
                document.getElementById('modal_anamnese').value += transcript + ' ';
            };

            recognition.onerror = (event) => {
                document.getElementById('status-text').innerText = 'Erro: ' + event.error;
                document.getElementById('status-icon').className = 'fas fa-exclamation-circle';
                setTimeout(() => {
                    document.getElementById('microphone-status').style.display = 'none';
                }, 2000);
            };
        }

        if (isRecording) {
            recognition.stop();
            document.getElementById('status-text').innerText = 'Gravação interrompida.';
            document.getElementById('status-icon').className = 'fas fa-stop';
            document.getElementById('modal_activate_senia').innerHTML = '<i class="fas fa-microphone"></i> Ativar Voz';
            isRecording = false;
        } else {
            recognition.start();
            document.getElementById('modal_activate_senia').innerHTML = '<i class="fas fa-stop"></i> Parar Voz';
            isRecording = true;
        }
    });
</script>

<!-- JavaScript para controlar as abas -->
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
    
        // Ocultar todas as abas
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
    
        // Remover a classe "active" dos botões das abas
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Exibir a aba selecionada e adicionar a classe "active"
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    
    // Abrir a primeira aba por padrão
    document.getElementById("defaultOpen").click();

    document.getElementById('analisar_exame').onclick = function() {
   

    var radius_mean = parseFloat(document.getElementById('radius_mean').value) || 0;
    var texture_mean = parseFloat(document.getElementById('texture_mean').value) || 0;
    var perimeter_mean = parseFloat(document.getElementById('perimeter_mean').value) || 0;
    var area_mean = parseFloat(document.getElementById('area_mean').value) || 0;
    var smoothness_mean = parseFloat(document.getElementById('smoothness_mean').value) || 0;
    var compactness_mean = parseFloat(document.getElementById('compactness_mean').value) || 0;
    var concavity_mean = parseFloat(document.getElementById('concavity_mean').value) || 0;
    var concave_points_mean = parseFloat(document.getElementById('concave_points_mean').value) || 0;
    var symmetry_mean = parseFloat(document.getElementById('symmetry_mean').value) || 0;
    var fractal_dimension_mean = parseFloat(document.getElementById('fractal_dimension_mean').value) || 0;
    var radius_se = parseFloat(document.getElementById('radius_se').value) || 0;
    var texture_se = parseFloat(document.getElementById('texture_se').value) || 0;
    var perimeter_se = parseFloat(document.getElementById('perimeter_se').value) || 0;
    var area_se = parseFloat(document.getElementById('area_se').value) || 0;
    var smoothness_se = parseFloat(document.getElementById('smoothness_se').value) || 0;
    var compactness_se = parseFloat(document.getElementById('compactness_se').value) || 0;
    var concavity_se = parseFloat(document.getElementById('concavity_se').value) || 0;
    var concave_points_se = parseFloat(document.getElementById('concave_points_se').value) || 0;
    var symmetry_se = parseFloat(document.getElementById('symmetry_se').value) || 0;
    var fractal_dimension_se = parseFloat(document.getElementById('fractal_dimension_se').value) || 0;
    var radius_worst = parseFloat(document.getElementById('radius_worst').value) || 0;
    var texture_worst = parseFloat(document.getElementById('texture_worst').value) || 0;
    var perimeter_worst = parseFloat(document.getElementById('perimeter_worst').value) || 0;
    var area_worst = parseFloat(document.getElementById('area_worst').value) || 0;
    var smoothness_worst = parseFloat(document.getElementById('smoothness_worst').value) || 0;
    var compactness_worst = parseFloat(document.getElementById('compactness_worst').value) || 0;
    var concavity_worst = parseFloat(document.getElementById('concavity_worst').value) || 0;
    var concave_points_worst = parseFloat(document.getElementById('concave_points_worst').value) || 0;
    var symmetry_worst = parseFloat(document.getElementById('symmetry_worst').value) || 0;
    var fractal_dimension_worst = parseFloat(document.getElementById('fractal_dimension_worst').value) || 0;

   var data = {
        radius_mean: radius_mean,
        texture_mean: texture_mean,
        perimeter_mean: perimeter_mean,
        area_mean: area_mean,
        smoothness_mean: smoothness_mean,
        compactness_mean: compactness_mean,
        concavity_mean: concavity_mean,
        concave_points_mean: concave_points_mean,
        symmetry_mean: symmetry_mean,
        fractal_dimension_mean: fractal_dimension_mean,
       

        smoothness_se: smoothness_se,
        compactness_se: compactness_se,
        concavity_se: concavity_se,
        concave_points_se: concave_points_se,
        radius_se: radius_se,
        texture_se: texture_se,
        perimeter_se: perimeter_se,
        area_se: area_se,
        symmetry_se: symmetry_se,
        fractal_dimension_se: fractal_dimension_se,
        radius_worst: radius_worst,
        texture_worst: texture_worst,
        perimeter_worst: perimeter_worst,
        area_worst: area_worst,
        smoothness_worst: smoothness_worst,
        compactness_worst: compactness_worst,
        concavity_worst: concavity_worst,
        concave_points_worst: concave_points_worst,
        symmetry_worst: symmetry_worst,
        fractal_dimension_worst: fractal_dimension_worst

   };

   fetch('/analisar_exame', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           },
           body: JSON.stringify(data)  // Convertendo o objeto em uma string JSON
       })
       .then(response => response.json())
       .then(response => {
          
            let previsao = response.previsao === 0 ? 'Benigno' : 'Maligno';

            document.getElementById('resultado').style.display = 'block'; // Torna o bloco visível
            document.getElementById('previsao').innerText = `Previsão: ${previsao}`;
            document.getElementById('confianca').innerText = `Confiança: ${response.confianca}%`;
           
       })
       .catch(error => console.error('Erro:', error));
};
</script>
<script>
    // Função para mostrar/esconder campos dependendo da seleção
    function toggleFields() {
        var condition = document.getElementById("condition").value;
        
        // Esconder todos os campos inicialmente
        document.getElementById("cancer-fields").classList.add("hidden");
        document.getElementById("infarto-fields").classList.add("hidden");
        
        // Mostrar os campos correspondentes à seleção
        if (condition === "cancer") {
            document.getElementById("cancer-fields").classList.remove("hidden");
        } else if (condition === "infarto") {
            document.getElementById("infarto-fields").classList.remove("hidden");
        }
    }
</script>

</body>
{% if mensagem %}
    <h4 class="text-danger text-center">{{ mensagem }}</h4>
{% endif %}

<script>
    function toggleConvenio(value) {
        const convenioSection = document.getElementById('convenio_section');
        convenioSection.style.display = value === 'sim' ? 'block' : 'none';
    }


    
</script>
{% endblock %}
