<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>

     <!-- Bootstrap CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='imagens/logo.jpg') }}" alt="Logo">
            </div><!--logo-->
            <h1>LIFE MATTERS SYSTEMS</h1>
            <h2>NOSSO COMPROMISSO É COM SUA SAÚDE</h2>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if session.get('user_logged_in') %}
                    <li><a href="{{ url_for('cadastro_paciente') }}">Cadastro de Pacientes</a></li>
                    <li><a href="{{ url_for('cadastro_medico') }}">Cadastro de Medicos</a></li>
                    <li><a href="{{ url_for('cadastro_escala') }}">Cadastrar Escala</a></li>
                    <li><a href="{{ url_for('cadastro_convenio') }}">Cadastro de Convênios</a></li>
                    <li><a href="{{ url_for('abrir_agenda') }}">Abrir Agenda</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                 
                {% endif %}
                
            
            </ul>
        </nav>
        
        <main>
            {% block content %}
            <!-- O conteúdo específico da página irá aqui -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 Meu Sistema de Agendamentos. Todos os direitos reservados.</p>
            <p>Contato: suporte@meusistema.com | Telefone: (11) 1234-5678</p>
        </footer>
    </div>
</body>
</html>
