{% extends "base.html" %}

{% block title %}Cadastro de Médicos{% endblock %}

{% block content %}

<h3>Cadastro de Médicos</h3>
<form id="form-medico" action="/salvar_medico" method="POST">
    <h4>Dados Pessoais</h4>


    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="form-control" maxlength="14" placeholder="CPF" required  oninput="formatarCPF(this)" onblur="buscarPessoaPorCPF(this.value)">
    </div>

    <div id="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
        <div style="background: white; margin: 15% auto; padding: 20px; width: 300px; text-align: center; border-radius: 5px;">
            <p>CPF já cadastrado. Deseja preencher os dados?</p>
            <button id="btn-sim">Sim</button>
            <button id="btn-nao">Não</button>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Completo" required>
    </div>

   
    <div class="form-group">
        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" maxlength="12" class="form-control" placeholder="RG" required>
    </div>
    
    <div class="form-group">
        <label for="data_nas">Data de Nascimento:</label>
        <input type="date" id="data_nas" name="data_nas" class="form-control" required>
    </div>
    <div class="form-group">

        <label for="cep">CEP:</label><br>
        <input type="text" id="cep" name="cep" required placeholder="00.000-000" maxlength="10" pattern="\d{2}\.\d{3}-\d{3}" oninput="formatarCEP(this)" style="width: 20%;"><br>


    </div>
    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereço" required>
    </div>

    <div class="form-group">
        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" class="form-control" maxlength="2" placeholder="UF" required>
    </div>
    
    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Cidade" required>
    </div>
    
    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento">
    </div>
    
    <div class="form-group">
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" class="form-control" placeholder="Número">
    </div>
    
    <div class="form-group">
        <label for="telefone_01">Telefone 01:</label>
        <input type="text" id="telefone_01" name="telefone_01" class="form-control" placeholder="Telefone 01" required>
    </div>
    
    <div class="form-group">
        <label for="telefone_02">Telefone 02 (opcional):</label>
        <input type="text" id="telefone_02" name="telefone_02" class="form-control" placeholder="Telefone 02">
    </div>
    
    <div class="form-group">
        <label for="telefone_03">Telefone 03 (opcional):</label>
        <input type="text" id="telefone_03" name="telefone_03" class="form-control" placeholder="Telefone 03">
    </div>
    
    <h4>Dados do Médico</h4>
    <div class="form-group">
        <label for="crm">CRM:</label>
        <input type="text" id="crm" name="crm" class="form-control" placeholder="CRM" required>
    </div>

    <!-- Campo de Especialidade -->
    <div class="form-group">
        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" name="especialidade" class="form-control" required>
            <option value="" disabled selected>Selecione a especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{ especialidade.codespecialidade }}">{{ especialidade.descricao }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="flgativo">Ativo:</label>
        <select id="flgativo" name="flgativo" class="form-control" required>
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>

    <button type="submit" id="btn-salvar" class="btn btn-primary">Cadastrar Médico</button>
</form>
{% if mensagem %}
    <h4 class="text-danger text-center">{{ mensagem }}</h4>
{% endif %}
<hr>

<script>
   

    function formatarCPF(cpfField) {
        // Remove caracteres não numéricos
        let cpf = cpfField.value.replace(/\D/g, '');

        // Adiciona a formatação
        if (cpf.length <= 11) {
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        }

        cpfField.value = cpf; // Atualiza o campo com o CPF formatado
    }
    function formatarCEP(cepField) {
    // Remove todos os caracteres não numéricos
    let cep = cepField.value.replace(/\D/g, '');

    // Verifica se o CEP tem 8 dígitos antes de aplicar a api
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => {
            if (!response.ok) throw new Error("CEP não encontrado.");
            return response.json();
            })
            .then(data => {
            if (data.erro) {
                alert("CEP não encontrado.");
            } else {
                // Exibe os dados do endereço retornado pela API
                document.getElementById("uf").value = data.uf;
                document.getElementById("cidade").value = data.localidade;
                document.getElementById("endereco").value = data.logradouro;
                document.getElementById("complemento").value = data.complemento;
                cep = cep.replace(/(\d{2})(\d{3})(\d{3})/, '$1.$2-$3');
                cepField.value = cep;
            }
            })
            .catch(error => console.error("Erro:", error));
        
    }

    }

    function buscarPessoaPorCPF(cpf) {
    // Remove caracteres especiais do CPF
    cpf = cpf.replace(/\D/g, '');

    if (cpf.length === 11) {
        fetch(`/pesquisar_medico/${cpf}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    if(data.flgencontrou){
                    // Exibe o modal informando que o CPF já está cadastrado
                        document.getElementById('modal').style.display = 'flex';
                        
                            // Configura o botão "Sim"
                            document.getElementById('btn-sim').onclick = () => {
                            preencherDadosCallback(); // Preenche os dados
                            document.getElementById('modal').style.display = 'none'; // Fecha o modal
                        };

                        // Configura o botão "Não"
                        document.getElementById('btn-nao').onclick = () => {
                            limparCPF(); // Limpa o campo CPF
                            document.getElementById('modal').style.display = 'none'; // Fecha o modal
                        };

                        // Função para preencher dados
                        const preencherDadosCallback = () => {
                            document.getElementById('nome').value = data.nome;
                            document.getElementById('rg').value = data.rg;
                            document.getElementById('data_nas').value = data.data_nas;
                            document.getElementById('cep').value = data.cep;
                            document.getElementById('uf').value = data.uf;
                            document.getElementById('cidade').value = data.cidade;
                            document.getElementById('endereco').value = data.endereco;
                            document.getElementById('complemento').value = data.complemento;
                            document.getElementById('numero').value = data.numero ;
                            document.getElementById('telefone_01').value = data.telefone_01;
                            document.getElementById('telefone_02').value = data.telefone_02;
                            document.getElementById('telefone_03').value = data.telefone_03;

                            document.getElementById('crm').value = data.crm;
                            document.getElementById('crm').value = data.crm;
                            
                            document.getElementById('flgativo').value = data.flgativo ;
                            

                            document.getElementById('especialidade').value = data.codespecialidade;
                            
                        };

                    }
                } 
            })
            .catch(error => console.error('Erro ao buscar dados:', error));
    }
}

// Prevenção do envio automático do formulário
document.getElementById('form-medico').addEventListener('submit', function(event) {
    event.preventDefault(); // Previne envio automático
});

// Envio controlado pelo botão de salvar
document.getElementById('btn-salvar').onclick = function() {
    document.getElementById('form-medico').submit(); // Agora o envio é controlado
};


function limparCPF() {
    document.getElementById('cpf').value = ''; // Limpa o campo CPF
}


</script>
{% endblock %}
