{% extends "base.html" %}

{% block title %}Cadastro de Médicos{% endblock %}

{% block content %}

<h3>Cadastro de Médicos</h3>
<form id="form-medico" action="/salvar_medico" method="POST">
    <h4>Dados Pessoais</h4>

    
    <div class="form-group">
        <button type="button" onclick="abrirModalPesquisa()" style="margin-bottom: 10px;">Localizar</button>
        <br>
         <!-- Modal para busca por nome -->
        <div id="modalPesquisa" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
            <div style="background: white; margin: 5% auto; padding: 30px; width: 600px; text-align: center; border-radius: 8px;">
                <h3>Buscar Pessoa por Nome</h3>
                <input type="text" id="nomeBusca" placeholder="Digite o nome" style="width: 100%; margin-bottom: 20px; padding: 10px;">
                <!-- Adicione o type="button" no botão de pesquisa -->
                <button type="button" onclick="buscarMedicoPorNome()" style="padding: 10px 20px;">Pesquisar</button>
                <button type="button" onclick="fecharModalPesquisa()" style="padding: 10px 20px; margin-left: 10px;">Fechar</button>
            
                <div id="resultadoPesquisa" style="margin-top: 20px; max-height: 300px; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                    <!-- Resultados da busca serão exibidos aqui -->
                </div>
            </div>
        </div>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="form-control" maxlength="14" placeholder="CPF" required  oninput="formatarCPF(this)" onblur="filtrarcpf(this.value)">
    </div>

    <div id="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
        <div style="background: white; margin: 15% auto; padding: 20px; width: 300px; text-align: center; border-radius: 5px;">
            <p>CPF já cadastrado. Deseja preencher os dados?</p>
            <button id="btn-sim">Sim</button>
            <button id="btn-nao">Não</button>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Completo" required>
    </div>

   
    <div class="form-group">
        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" maxlength="12" class="form-control" placeholder="RG" required>
    </div>
    
    <div class="form-group">
        <label for="data_nas">Data de Nascimento:</label>
        <input type="date" id="data_nas" name="data_nas" class="form-control" required>
    </div>
    <div class="form-group">

        <label for="cep">CEP:</label><br>
        <input type="text" id="cep" name="cep" required placeholder="00.000-000" maxlength="10" pattern="\d{2}\.\d{3}-\d{3}" oninput="formatarCEP(this)" style="width: 20%;"><br>


    </div>
    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereço" required>
    </div>

    <div class="form-group">
        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" class="form-control" maxlength="2" placeholder="UF" required>
    </div>
    
    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Cidade" required>
    </div>
    
    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento">
    </div>
    
    <div class="form-group">
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" class="form-control" placeholder="Número">
    </div>
    
    <div class="form-group">
        <label for="telefone_01">Telefone 01:</label>
        <input type="text" id="telefone_01" name="telefone_01" class="form-control" placeholder="Telefone 01" required>
    </div>
    
    <div class="form-group">
        <label for="telefone_02">Telefone 02 (opcional):</label>
        <input type="text" id="telefone_02" name="telefone_02" class="form-control" placeholder="Telefone 02">
    </div>
    
    <div class="form-group">
        <label for="telefone_03">Telefone 03 (opcional):</label>
        <input type="text" id="telefone_03" name="telefone_03" class="form-control" placeholder="Telefone 03">
    </div>
    
    <h4>Dados do Médico</h4>
    <div class="form-group">
        <label for="crm">CRM:</label>
        <input type="text" id="crm" name="crm" class="form-control" placeholder="CRM" required>
    </div>

    <!-- Campo de Especialidade -->
    <div class="form-group">
        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" name="especialidade" class="form-control" required>
            <option value="" disabled selected>Selecione a especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{ especialidade.codespecialidade }}">{{ especialidade.descricao }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="flgativo">Ativo:</label>
        <select id="flgativo" name="flgativo" class="form-control" required>
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>

    <button type="submit" id="btn-salvar" class="btn btn-primary">Cadastrar Médico</button>
</form>
{% if mensagem %}
    <h4 class="text-danger text-center">{{ mensagem }}</h4>
{% endif %}
<hr>

<script>
   

    function formatarCPF(cpfField) {
        // Remove caracteres não numéricos
        let cpf = cpfField.value.replace(/\D/g, '');

        // Adiciona a formatação
        if (cpf.length <= 11) {
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        }

        cpfField.value = cpf; // Atualiza o campo com o CPF formatado
    }
    function formatarCEP(cepField) {
    // Remove todos os caracteres não numéricos
    let cep = cepField.value.replace(/\D/g, '');

    // Verifica se o CEP tem 8 dígitos antes de aplicar a api
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => {
            if (!response.ok) throw new Error("CEP não encontrado.");
            return response.json();
            })
            .then(data => {
            if (data.erro) {
                alert("CEP não encontrado.");
            } else {
                // Exibe os dados do endereço retornado pela API
                document.getElementById("uf").value = data.uf;
                document.getElementById("cidade").value = data.localidade;
                document.getElementById("endereco").value = data.logradouro;
                document.getElementById("complemento").value = data.complemento;
                cep = cep.replace(/(\d{2})(\d{3})(\d{3})/, '$1.$2-$3');
                cepField.value = cep;
                
            }
            })
            .catch(error => console.error("Erro:", error));
        
    }

    }

    async function filtrarcpf(cpf){
        data= await buscarPessoaPorCPF(cpf)
        
        if(data!=null){
             
            if(data.flgencontrou){

                  
             
                   
                document.getElementById('modal').style.display = 'flex';
               
                    // Configura o botão "Sim"
                document.getElementById('btn-sim').onclick = () => {
                    preencherDadosCallback(data); // Preenche os dados
                    document.getElementById('modal').style.display = 'none'; // Fecha o modal
                };

                // Configura o botão "Não"
                document.getElementById('btn-nao').onclick = () => {
                    limparCPF(); // Limpa o campo CPF
                    document.getElementById('modal').style.display = 'none'; // Fecha o modal
                };


            }
        }
    }

    function preencherDadosCallback(data) {
        document.getElementById('nome').value = data.nome;
        document.getElementById('rg').value = data.rg;
        document.getElementById('data_nas').value = data.data_nas;
        document.getElementById('cep').value = data.cep.replace(/(\d{2})(\d{3})(\d{3})/, '$1.$2-$3');
        document.getElementById('uf').value = data.uf;
        document.getElementById('cidade').value = data.cidade;
        document.getElementById('endereco').value = data.endereco;
        document.getElementById('complemento').value = data.complemento;
        document.getElementById('numero').value = data.numero ;
        document.getElementById('telefone_01').value = data.telefone_01;
        document.getElementById('telefone_02').value = data.telefone_02;
        document.getElementById('telefone_03').value = data.telefone_03;

        document.getElementById('crm').value = data.crm;
    
                            
        document.getElementById('flgativo').value = data.flgativo ;
                            

        document.getElementById('especialidade').value = data.codespecialidade;


    }

    async function buscarPessoaPorCPF(cpf) {
    // Remove caracteres especiais do CPF
        cpf = cpf.replace(/\D/g, '');

        if (cpf.length === 11) {

            try {
            let response = await fetch(`/pesquisar_medico/${cpf}`);
            let data = await response.json();
            
                if (data) {
            
                return data; // Retorna `data` se o paciente for encontrado
                } else {
                    alert('Paciente não encontrado');
                    return null; // Retorna `null` se o paciente não for encontrado
                }
            } catch (error) {
                console.error('Erro ao buscar dados:', error);
                return null; // Retorna `null` em caso de erro
            }
        
        }
    }   

// Prevenção do envio automático do formulário
document.getElementById('form-medico').addEventListener('submit', function(event) {
    event.preventDefault(); // Previne envio automático
});

// Envio controlado pelo botão de salvar
document.getElementById('btn-salvar').onclick = function(event) {
    const form = document.getElementById('form-medico');
    
    if (form.checkValidity()) {
        form.submit(); // Envia o formulário se todos os campos forem válidos
        alert("Médico gravado com sucesso!")
        location.reload(); // Recarrega a página
    } else {
        form.reportValidity(); // Mostra mensagens de erro para os campos inválidos
    }
};


function limparCPF() {
    document.getElementById('cpf').value = ''; // Limpa o campo CPF
}

function abrirModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "block";
}

function fecharModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "none";
        document.getElementById("resultadoPesquisa").innerHTML = "";  // Limpa os resultados
}

function buscarMedicoPorNome() {
        let nome = document.getElementById("nomeBusca").value;
        if (nome) {
           
            fetch(`/localizar_medico/${nome}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    // Limpar qualquer resultado de pesquisa anterior
                    document.getElementById("resultadoPesquisa").innerHTML = "";

                    // Criar a tabela de resultados
                    let tabelaResultados = document.createElement("table");
                    tabelaResultados.style.width = "100%";
                    tabelaResultados.style.borderCollapse = "collapse";

                    // Criar o cabeçalho da tabela
                    let thead = document.createElement("thead");
                    thead.innerHTML = `
                        <tr>
                            <th style="border: 1px solid #ccc; padding: 8px;">Nome</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">CPF</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">Data de Nascimento</th>
                        </tr>
                    `;
                    tabelaResultados.appendChild(thead);

                    // Criar o corpo da tabela e preencher com os dados dos pacientes
                    let tbody = document.createElement("tbody");
                    data.forEach(medico => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.nome}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.cpf}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.data_nas}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">
                                <button onclick="selecionarMedico('${medico.cpf}')">Selecionar</button>
                            </td>
                        `;
                        tbody.appendChild(row);
                    });

                    tabelaResultados.appendChild(tbody);
                    document.getElementById("resultadoPesquisa").appendChild(tabelaResultados);
                } else {
                    document.getElementById("resultadoPesquisa").innerHTML = "<p>Nenhum paciente encontrado.</p>";
                }
            })
            .catch(error => console.error('Erro ao pesquisar !', error));




            document.getElementById("resultadoPesquisa").innerHTML = "<p>Resultado da busca por: " + nome + "</p>";
        } else {
            alert("Digite um nome para buscar.");
        }
    }


async function selecionarMedico(cpf) {
    
    // Define o valor do CPF no campo
    document.getElementById('cpf').value = cpf;

    // Chama a função de formatação passando o próprio elemento de CPF
    formatarCPF(document.getElementById('cpf'));

    // Chama a função de busca
    data= await buscarPessoaPorCPF(cpf)
    preencherDadosCallback(data)
  
    // Fecha o modal de pesquisa após a seleção
    fecharModalPesquisa();
}
</script>
{% endblock %}
