{% extends "base.html" %}

{% block title %}Agendamento de Pacientes{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário com Vagas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <style>
        /* Ajusta o layout do calendário */
        #calendario {
            width: 50%;
            margin-right: 2%;
            float: left;
        }

        /* Estilização da tabela de vagas */
        .vagas_liberadas {
            width:35%;
            float: left;
        }

        .vagas_liberadas table {
            width: 100%;
            margin-top: 20px;
        }

        .vagas_liberadas th, .vagas-liberadas td {
            text-align: center;
            padding: 10px;
        }
       
    </style>
</head>
<body>
<form  id="form-medico">
 
    <div class="form-group">
        <label for="codmedico">Código Do Médico:</label>
        <input type="text" id="codmedico" name="codmedico" class="form-control" placeholder="codmedico" disabled>
    </div>
    <div class="form-group">
        <button type="button" onclick="abrirModalPesquisa()" style="margin-bottom: 10px;">Localizar</button>
        <br>
         <!-- Modal para busca por nome -->
        <div id="modalPesquisa" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
            <div style="background: white; margin: 5% auto; padding: 30px; width: 600px; text-align: center; border-radius: 8px;">
                <h3>Buscar Pessoa por Nome</h3>
                <input type="text" id="nomeBusca" placeholder="Digite o nome" style="width: 100%; margin-bottom: 20px; padding: 10px;">
                <!-- Adicione o type="button" no botão de pesquisa -->
                <button type="button" onclick="buscarMedicoPorNome()" style="padding: 10px 20px;">Pesquisar</button>
                <button type="button" onclick="fecharModalPesquisa()" style="padding: 10px 20px; margin-left: 10px;">Fechar</button>
            
                <div id="resultadoPesquisa" style="margin-top: 20px; max-height: 300px; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                    <!-- Resultados da busca serão exibidos aqui -->
                </div>
            </div>
        </div>  
        <label for="CPF">CPF:</label><br>
        <input type="text" id="CPF" name="CPF" required placeholder="000.000.000-00" maxlength="14" oninput="formatarCPF(this)" onblur="buscarPessoaPorCPF(this.value)"><br>
    </div>
    
    <div class="form-group">
        <label for="nome">Nome Do Médico:</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Completo" disabled>
    </div>
    <div class="form-group">
        <label for="crm">Crm Do Médico:</label>
        <input type="text" id="crm" name="crm" class="form-control" disabled>
    </div>
    <div class="form-group">
        <label for="especialidade">Especialidade Do Médico:</label>
        <input type="text" id="especialidade" name="especialidade" class="form-control" disabled>
    </div>

    
    <div class="container" style="display: none;">
        <div id="calendario"></div>
    
        <div class="container mt-5 vagas_liberadas">
            <h3>Vagas Liberadas</h3>
            <input type="text" id="dataselecionada" name="dataselecionada" class="form-control" disabled>
            <form id="formVagas" >
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Turno</th>
                            <th>Quantidade de Vagas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Manhã</td>
                            <td>
                                <input type="number" id="vagas_manha_input" min="0" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Tarde</td>
                            <td>
                                <input type="number" id="vagas_tarde_input"  min="0" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Noite</td>
                            <td>
                                <input type="number" id="vagas_noite_input"  min="0" required />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" id="salvar_escala" class="btn btn-primary">Salvar Escala</button>
            </form>
            
       
        </div>
    </div>
   
  
</form>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- FullCalendar JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/lang/pt-br.js"></script>

<script>
    // Função de formatação do CPF
    function formatarCPF(cpfField) {
        let cpf = cpfField.value.replace(/\D/g, ''); // Remove qualquer caractere que não seja número
        if (cpf.length <= 11) {
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
        }
        cpfField.value = cpf; // Atualiza o valor formatado no campo
    }

    // Função para buscar os dados do médico pelo CPF
    function buscarPessoaPorCPF(cpf) {
        cpf = cpf.replace(/\D/g, ''); 
        if (cpf.length === 11) { 
            fetch(`/pesquisar_medico_cadescala/${cpf}`) 
                .then(response => {
                  
                    return response.json(); // Converte para JSON
                })
                .then(data => {
                  
                    if (data.flgencontrou) { 
                        document.getElementById('nome').value = data.nome;
                        document.getElementById('especialidade').value = data.especialidade;
                        document.getElementById('crm').value = data.crm;
                        document.getElementById('codmedico').value = data.codmedico;
                      
                        buscarEscalasPorMedico(data.codmedico);
                    } else {
                        alert('Médico não encontrado');
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar dados do médico:', error); // Loga o erro
                });
        } else {
            console.error('CPF inválido:', cpf); // Loga CPF inválido
            alert('CPF inválido. Por favor, verifique o formato e tente novamente.');
        }
    }

    // Variável global para armazenar as datas das escalas
    let datasEscalas = [];

    function buscarEscalasPorMedico(codmedico) {
        fetch(`/buscar_escalas/${codmedico}`)
            .then(response => response.json())
            .then(data => {
                // Limpa a lista de datas de escalas antes de adicionar novas
                if (!data) {
                    datasEscalas = []; 
                    $('#calendario').fullCalendar('removeEvents');
                    abriraescala(); // Chama apenas abriraescala se não houver datas
                    $('.container').show(); 
                    return;
                }

                
                datasEscalas = []; 
              
                data.datas.forEach(escala => {
                    // Adiciona a data da escala à lista
                    test= new Date(escala.split(',')[1].trim())
                    datasEscalas.push(test.toISOString().split('T')[0]);
                    
               
                 
                    $('#calendario').fullCalendar('renderEvent', {
                        
                        title: 'Disponível',
                        start: escala.data, // Formatar a data corretamente
                        allDay: true,
                        backgroundColor: '#ff0000',
                        borderColor: '#28a745',
                        color: '#28a745' // Força a cor do texto e do fundo
                    }, true);
                 
                    abriraescala()
                     // Atualiza o calendário
                  
                    $('.container').show(); 
                });
                
                // Atualiza o calendário para aplicar as novas cores
                $('#calendario').fullCalendar('rerenderEvents');
                document.querySelector('.fc-next-button').click();
                document.querySelector('.fc-prev-button').click();
            })
            .catch(error => console.error('Erro ao buscar escalas:', error));
    }

    function abriraescala() {
        $('#calendario').fullCalendar('destroy');
        $('#calendario').fullCalendar({
            locale: 'pt-br',
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month today'
            },
            buttonText: {
                month: 'Mês',
                today: 'Hoje'
            },
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            selectable: true,
            dayClick: function(date, jsEvent, view) {
                var codmedico = document.getElementById('codmedico').value;
                buscarVagasPorData(date.format('YYYY-MM-DD'), codmedico);
            },
            dayRender: function(date, cell) {
                for (let i = 0; i < datasEscalas.length; i++) {
                    if (date.format('YYYY-MM-DD') === datasEscalas[i]) {
                        cell.css("background-color", "green"); // Aplica a cor desejada
                       
                        break; 
            }
        }
    }
        });

        function buscarVagasPorData(data_click, codmedico) {
            document.getElementById('dataselecionada').value=data_click
            fetch(`/buscar_vagas_por_data/${data_click}/${codmedico}`)
                .then(response => response.json())
                .then(resposta => {
                    
                    if (!resposta.message) {
                        document.getElementById('vagas_manha_input').value = resposta.vagasManha || '0'; 
                        document.getElementById('vagas_tarde_input').value = resposta.vagasTarde || '0'; 
                        document.getElementById('vagas_noite_input').value = resposta.vagasNoite || '0'; 
                    } else {
                        document.getElementById('vagas_manha_input').value = '0'; 
                        document.getElementById('vagas_tarde_input').value = '0'; 
                        document.getElementById('vagas_noite_input').value = '0'; 
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar vagas:', error);
                    alert('Ocorreu um erro ao buscar as vagas.');
                });
        }
    };

//document.getElementById('formvagas').addEventListener('submit', function(event) {
//    event.preventDefault();
//});


    document.getElementById('salvar_escala').onclick = function() {
        var quantmanha=document.getElementById('vagas_manha_input').value;
        var quanttarde= document.getElementById('vagas_tarde_input').value; 
        var quantnoite= document.getElementById('vagas_noite_input').value;
        var dataselecionada= document.getElementById('dataselecionada').value;
        var codmedico= document.getElementById('codmedico').value;
    
        fetch(`/salvar_escala/${codmedico}/${dataselecionada}/${quantmanha}/${quanttarde}/${quantnoite}`, {
                            method: 'POST',
                        })
                        .then(response => response.json())
                        .then(response => {
                            if (response.flggravar){
                                alert('Escala Salva com sucesso!')
                                buscarEscalasPorMedico(codmedico)
                        }
                })
    };

    function abrirModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "block";
    }

    function fecharModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "none";
        document.getElementById("resultadoPesquisa").innerHTML = "";  // Limpa os resultados
    }
    function buscarMedicoPorNome() {
        let nome = document.getElementById("nomeBusca").value;
        if (nome) {
           
            fetch(`/localizar_medico/${nome}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    // Limpar qualquer resultado de pesquisa anterior
                    document.getElementById("resultadoPesquisa").innerHTML = "";

                    // Criar a tabela de resultados
                    let tabelaResultados = document.createElement("table");
                    tabelaResultados.style.width = "100%";
                    tabelaResultados.style.borderCollapse = "collapse";

                    // Criar o cabeçalho da tabela
                    let thead = document.createElement("thead");
                    thead.innerHTML = `
                        <tr>
                            <th style="border: 1px solid #ccc; padding: 8px;">Nome</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">CPF</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">Data de Nascimento</th>
                        </tr>
                    `;
                    tabelaResultados.appendChild(thead);

                    // Criar o corpo da tabela e preencher com os dados dos pacientes
                    let tbody = document.createElement("tbody");
                    data.forEach(medico => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.nome}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.cpf}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${medico.data_nas}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">
                                <button onclick="selecionarMedico('${medico.cpf}')">Selecionar</button>
                            </td>
                        `;
                        tbody.appendChild(row);
                    });

                    tabelaResultados.appendChild(tbody);
                    document.getElementById("resultadoPesquisa").appendChild(tabelaResultados);
                } else {
                    document.getElementById("resultadoPesquisa").innerHTML = "<p>Nenhum paciente encontrado.</p>";
                }
            })
            .catch(error => console.error('Erro ao pesquisar !', error));




            document.getElementById("resultadoPesquisa").innerHTML = "<p>Resultado da busca por: " + nome + "</p>";
        } else {
            alert("Digite um nome para buscar.");
        }
    }
    async function selecionarMedico(cpf) {
    
    // Define o valor do CPF no campo
    document.getElementById('CPF').value = cpf;

    // Chama a função de formatação passando o próprio elemento de CPF
    formatarCPF(document.getElementById('CPF'));

    // Chama a função de busca
    buscarPessoaPorCPF(cpf)
    
  
    // Fecha o modal de pesquisa após a seleção
    fecharModalPesquisa();
}

</script>



</body>
</html>
{% endblock %}
