{% extends "base.html" %}

{% block title %}Cadastro de Médicos{% endblock %}

{% block content %}

<h3>Cadastro de Médicos</h3>
<form action="/salvar_medico" method="POST">
    <h4>Dados Pessoais</h4>
    <div class="form-group">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Completo" required>
    </div>

    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="form-control" maxlength="11" placeholder="CPF" required>
    </div>
    <div class="form-group">
        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" class="form-control" placeholder="RG" required>
    </div>
    
    <div class="form-group">
        <label for="data_nas">Data de Nascimento:</label>
        <input type="date" id="data_nas" name="data_nas" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" class="form-control" placeholder="CEP" required>
    </div>
    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereço" required>
    </div>

    <div class="form-group">
        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" class="form-control" maxlength="2" placeholder="UF" required>
    </div>
    
    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Cidade" required>
    </div>
    
    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento">
    </div>
    
    <div class="form-group">
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" class="form-control" placeholder="Número">
    </div>
    
    <div class="form-group">
        <label for="telefone_01">Telefone 01:</label>
        <input type="text" id="telefone_01" name="telefone_01" class="form-control" placeholder="Telefone 01" required>
    </div>
    
    <div class="form-group">
        <label for="telefone_02">Telefone 02 (opcional):</label>
        <input type="text" id="telefone_02" name="telefone_02" class="form-control" placeholder="Telefone 02">
    </div>
    
    <div class="form-group">
        <label for="telefone_03">Telefone 03 (opcional):</label>
        <input type="text" id="telefone_03" name="telefone_03" class="form-control" placeholder="Telefone 03">
    </div>
    
    <h4>Dados do Médico</h4>
    <div class="form-group">
        <label for="crm">CRM:</label>
        <input type="text" id="crm" name="crm" class="form-control" placeholder="CRM" required>
    </div>

    <!-- Campo de Especialidade -->
    <div class="form-group">
        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" name="especialidade" class="form-control" required>
            <option value="" disabled selected>Selecione a especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{ especialidade.codespecialidade }}">{{ especialidade.descricao }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="flgativo">Ativo:</label>
        <select id="flgativo" name="flgativo" class="form-control" required>
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar Médico</button>
</form>
{% if mensagem %}
    <h4 class="text-danger text-center">{{ mensagem }}</h4>
{% endif %}
<hr>
{% endblock %}
