{% extends "base.html" %}

{% block title %}Cadastro de Pacientes{% endblock %}

{% block content %}
<h1>Cadastro de Pacientes</h1>
<form id="form-paciente" action="/salvar_paciente" method="POST">

    <!-- Seção Dados Pessoais e Documentos -->
    <div class="section">
        <h2>Dados Pessoais e Documentos</h2>

        <!-- Botão de localizar -->
        <button type="button" onclick="abrirModalPesquisa()" style="margin-bottom: 10px;">Localizar</button>
        <br>
         <!-- Modal para busca por nome -->
         <div id="modalPesquisa" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
            <div style="background: white; margin: 5% auto; padding: 30px; width: 600px; text-align: center; border-radius: 8px;">
                <h3>Buscar Pessoa por Nome</h3>
                <input type="text" id="nomeBusca" placeholder="Digite o nome" style="width: 100%; margin-bottom: 20px; padding: 10px;">
                <button onclick="buscarPessoaPorNome()" style="padding: 10px 20px;">Pesquisar</button>
                <button onclick="fecharModalPesquisa()" style="padding: 10px 20px; margin-left: 10px;">Fechar</button>
        
                <div id="resultadoPesquisa" style="margin-top: 20px;">
                    <!-- Resultados da busca serão exibidos aqui -->
                </div>
            </div>
        </div>



        <label for="CPF">CPF:</label><br>
        <input type="text" id="CPF" name="CPF" required placeholder="000.000.000-00" maxlength="14" oninput="formatarCPF(this)" onblur="filtrarcpf(this.value)"><br>
        

        <div id="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
            <div style="background: white; margin: 15% auto; padding: 20px; width: 300px; text-align: center; border-radius: 5px;">
                <p>CPF já cadastrado. Deseja preencher os dados?</p>
                <button id="btn-sim">Sim</button>
                <button id="btn-nao">Não</button>
            </div>
        </div>

        <label for="Nome">Nome:</label><br>
        <input type="text" id="Nome" name="Nome" required style="width: 100%;"><br>

        
        <label for="RG">RG:</label><br>
        <input type="text" id="RG" maxlength="12" name="RG" required><br>

        <label for="Data_Nascimento">Data de Nascimento:</label><br>
        <input type="date" id="Data_Nascimento" name="Data_Nascimento" required style="width: 100%;"><br>
    </div>

    <!-- Seção Dados de Endereço -->
    <div class="section">
        <h2>Endereço</h2>

        <label for="CEP">CEP:</label><br>
        <input type="text" id="CEP" name="CEP" required placeholder="00.000-000" maxlength="10" pattern="\d{2}\.\d{3}-\d{3}" oninput="formatarCEP(this)" style="width: 20%;"><br>

        <label for="UF">UF:</label><br>
        <input type="text" id="UF" name="UF" maxlength="2" required style="width: 50%;"><br>

        <label for="Cidade">Cidade:</label><br>
        <input type="text" id="Cidade" name="Cidade" required style="width: 50%;"><br>

        <label for="Endereco">Endereço:</label><br>
        <input type="text" id="Endereco" name="Endereco" required style="width: 100%;"><br>

        <label for="Complemento">Complemento:</label><br>
        <input type="text" id="Complemento" name="Complemento" style="width: 100%;"><br>

        <label for="numero">Número:</label><br>
        <input type="text" id="numero" name="numero" style="width: 50%;"><br>
    </div>

    <!-- Seção Contato -->
    <div class="section">
        <h2>Contato</h2>
        <label for="Telefone_01">Telefone 01:</label><br>
        <input type="text" id="Telefone_01" name="Telefone_01" required style="width: 20%;"><br>

        <label for="Telefone_02">Telefone 02:</label><br>
        <input type="text" id="Telefone_02" name="Telefone_02" style="width: 20%;"><br>

        <label for="Telefone_03">Telefone 03:</label><br>
        <input type="text" id="Telefone_03" name="Telefone_03" style="width: 20%;"><br>
    </div>

    <!-- Seção Convênio -->
    <div class="section">
        <h2>Convênio</h2>
        <label for="possui_convenio">Possui convênio?</label><br>
        <select id="possui_convenio" name="possui_convenio" required onchange="toggleConvenio(this.value)" style="width: 100%;">
            <option value="" disabled selected>-- Selecione --</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
        </select><br>

        <div id="convenio_section" style="display:none;">
            <label for="convenio">Selecione o Convênio:</label><br>
            <select id="convenio" name="convenio" style="width: 100%;">
                <option value="" disabled selected>-- Selecione um convênio --</option>
                {% for convenio in lista_convenios %}
                    <option value="{{ convenio.id }}">{{ convenio.descricao }}</option>
                {% endfor %}
            </select><br>

            <!-- Campo Tipo de Convênio -->
            <label for="tipoconvenio">Tipo de Convênio:</label><br>
            <select id="tipoconvenio" name="tipoconvenio" style="width: 100%;">
                <option value="" disabled selected>-- Selecione o tipo de convênio --</option>
                <option value="individual">Individual</option>
                <option value="coletivo">Coletivo</option>
                <option value="publico">Público</option>
            </select><br>
        </div>
    </div>

    <!-- Botão Salvar -->
    <button type="submit" id="btn-salvar" style="width: 100%;">Salvar</button>
</form>
{% if mensagem %}
    <h4 class="text-danger text-center">{{ mensagem }}</h4>
{% endif %}

<script>
    function toggleConvenio(value) {
        const convenioSection = document.getElementById('convenio_section');
        const convenioSelect = document.getElementById('convenio');
        const tipoConvenioSelect = document.getElementById('tipoconvenio');

        if (value === 'sim') {
            convenioSection.style.display = 'block';
            convenioSelect.setAttribute('required', 'true');
            tipoConvenioSelect.setAttribute('required', 'true');
        } else {
            convenioSection.style.display = 'none';
            convenioSelect.removeAttribute('required');
            tipoConvenioSelect.removeAttribute('required');
        }
    }

    function formatarCPF(cpfField) {
        // Remove caracteres não numéricos
        let cpf = cpfField.value.replace(/\D/g, '');

        // Adiciona a formatação
        if (cpf.length <= 11) {
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        }

        cpfField.value = cpf; // Atualiza o campo com o CPF formatado
    }
    function formatarCEP(cepField) {
    // Remove todos os caracteres não numéricos
    let cep = cepField.value.replace(/\D/g, '');

    // Verifica se o CEP tem 8 dígitos antes de aplicar a api
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => {
            if (!response.ok) throw new Error("CEP não encontrado.");
            return response.json();
            })
            .then(data => {
            if (data.erro) {
                alert("CEP não encontrado.");
            } else {
                // Exibe os dados do endereço retornado pela API
                document.getElementById("UF").value = data.uf;
                document.getElementById("Cidade").value = data.localidade;
                document.getElementById("Endereco").value = data.logradouro;
                document.getElementById("Complemento").value = data.complemento;
                cep = cep.replace(/(\d{2})(\d{3})(\d{3})/, '$1.$2-$3');
                cepField.value = cep;
               
            }
            })
            .catch(error => console.error("Erro:", error));
        
    }

    // Atualiza o campo com o CEP formatado
    //cepField.value = cep;
    }

    async function filtrarcpf(cpf){
        data= await buscarPessoaPorCPF(cpf)
        
        if(data!=null){
             
            if(data.flgencontrou){

                  
               
                   
                document.getElementById('modal').style.display = 'flex';
               
                    // Configura o botão "Sim"
                document.getElementById('btn-sim').onclick = () => {
                    preencherDadosCallback(data); // Preenche os dados
                    document.getElementById('modal').style.display = 'none'; // Fecha o modal
                };

                // Configura o botão "Não"
                document.getElementById('btn-nao').onclick = () => {
                    limparCPF(); // Limpa o campo CPF
                    document.getElementById('modal').style.display = 'none'; // Fecha o modal
                };


            }
        }
    }

    function preencherDadosCallback(data) {

        document.getElementById('Nome').value = data.nome;
        document.getElementById('RG').value = data.rg;
        document.getElementById('Data_Nascimento').value = data.data_nas;
        document.getElementById('CEP').value = data.cep.replace(/(\d{2})(\d{3})(\d{3})/, '$1.$2-$3');
        document.getElementById('UF').value = data.uf;
        document.getElementById('Cidade').value = data.cidade;
        document.getElementById('Endereco').value = data.endereco;
        document.getElementById('Complemento').value = data.complemento;
        document.getElementById('numero').value = data.numero;
        document.getElementById('Telefone_01').value = data.telefone_01;
        document.getElementById('Telefone_02').value = data.telefone_02;
        document.getElementById('Telefone_03').value = data.telefone_03;


        // Ajustar o campo "possui_convenio" para selecionar "Sim" ou "Não" com base no valor de flgconvenio
        document.getElementById('possui_convenio').value = data.flgconvenio === 1 ? 'sim' : 'nao';

        // Exibir a seção de convênio se flgconvenio for 1 (Sim)
        toggleConvenio(data.flgconvenio === 1 ? 'sim' : 'nao');

        // Ajustar o campo "convenio" para selecionar o convênio correspondente
        if (data.flgconvenio === 1) {
            document.getElementById('tipoconvenio').value = data.tipoconvenio;
            document.getElementById('convenio').value = data.fk_convenio_id;

        }


    }

    async function buscarPessoaPorCPF(cpf) {
    // Remove caracteres especiais do CPF
    cpf = cpf.replace(/\D/g, '');

    if (cpf.length === 11) {
        try {
        let response = await fetch(`/pesquisar_paciente/${cpf}`);
        let data = await response.json();
        
        if (data) {
           
            return data; // Retorna `data` se o paciente for encontrado
        } else {
            alert('Paciente não encontrado');
            return null; // Retorna `null` se o paciente não for encontrado
        }
    } catch (error) {
        console.error('Erro ao buscar dados:', error);
        return null; // Retorna `null` em caso de erro
    }
    }
}

document.getElementById('form-paciente').addEventListener('submit', function(event) {
    event.preventDefault();
});


document.getElementById('btn-salvar').onclick = function() {
    document.getElementById('form-paciente').submit(); 
};

function limparCPF() {
    document.getElementById('CPF').value = ''; // Limpa o campo CPF
}

function abrirModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "block";
}

function fecharModalPesquisa() {
        document.getElementById("modalPesquisa").style.display = "none";
        document.getElementById("resultadoPesquisa").innerHTML = "";  // Limpa os resultados
    }



function buscarPessoaPorNome() {
        let nome = document.getElementById("nomeBusca").value;
        if (nome) {
           
            fetch(`/localizar_pessoa/${nome}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    // Limpar qualquer resultado de pesquisa anterior
                    document.getElementById("resultadoPesquisa").innerHTML = "";

                    // Criar a tabela de resultados
                    let tabelaResultados = document.createElement("table");
                    tabelaResultados.style.width = "100%";
                    tabelaResultados.style.borderCollapse = "collapse";

                    // Criar o cabeçalho da tabela
                    let thead = document.createElement("thead");
                    thead.innerHTML = `
                        <tr>
                            <th style="border: 1px solid #ccc; padding: 8px;">Nome</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">CPF</th>
                            <th style="border: 1px solid #ccc; padding: 8px;">Data de Nascimento</th>
                        </tr>
                    `;
                    tabelaResultados.appendChild(thead);

                    // Criar o corpo da tabela e preencher com os dados dos pacientes
                    let tbody = document.createElement("tbody");
                    data.forEach(paciente => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td style="border: 1px solid #ccc; padding: 8px;">${paciente.nome}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${paciente.cpf}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">${paciente.data_nas}</td>
                            <td style="border: 1px solid #ccc; padding: 8px;">
                                <button onclick="selecionarPaciente('${paciente.cpf}')">Selecionar</button>
                            </td>
                        `;
                        tbody.appendChild(row);
                    });

                    tabelaResultados.appendChild(tbody);
                    document.getElementById("resultadoPesquisa").appendChild(tabelaResultados);
                } else {
                    document.getElementById("resultadoPesquisa").innerHTML = "<p>Nenhum paciente encontrado.</p>";
                }
            })
            .catch(error => console.error('Erro ao pesquisar !', error));




            document.getElementById("resultadoPesquisa").innerHTML = "<p>Resultado da busca por: " + nome + "</p>";
        } else {
            alert("Digite um nome para buscar.");
        }
    }

async function selecionarPaciente(cpf) {
    
    // Define o valor do CPF no campo
    document.getElementById('CPF').value = cpf;

    // Chama a função de formatação passando o próprio elemento de CPF
    formatarCPF(document.getElementById('CPF'));

    // Chama a função de busca
    data= await buscarPessoaPorCPF(cpf)
    preencherDadosCallback(data)
  
    // Fecha o modal de pesquisa após a seleção
    fecharModalPesquisa();
}

document.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
    }
});
</script>
{% endblock %}
